.nav-bar {
    height: 70px;
    width: 100%;
    background-color: violet;
    display: inline-flex;
}
.nav-bar-logo img {
    width: 40px;
    padding-left: 8px;
    color: rgb(0, 0, 0);
    background-color: black;
}

.nav-bar-link {
    color: rgb(0, 0, 0);

}

.nav-bar-link>ul >li {
    display: inline;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.nav-bar-link>a {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.nav-bar-link .active {
    text-decoration: underline;
}